language: ruby
rvm:
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.2.4
services:
  - mongodb
  - riak
env:
  - RIAK_VERSION=2.1.3 RIAK_RELEASE=2.1
before_install:
  - ./install_riak.sh
  - ulimit -n
  - sudo riak version


